body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    background-image: url(../img/orig.webp);
    
  }
  
  .accordion-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .accordion-item {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d8b5d9;
    color: #4d4d4d;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .accordion-header:hover {
    background-color: #b48cb1;
  }
  
  .accordion-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .accordion-icon {
    font-size: 24px;
    transition: transform 0.3s;
  }
  
  .accordion-content {
    padding: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .accordion-item.active .accordion-icon {
    transform: rotate(45deg);
  }
  
  .accordion-item.active .accordion-content {
    max-height: 1000px;
    transition: max-height 0.3s ease-in;
  }